<div class="close-order-panel">
    <div class="panel-header">
        平仓
        <div class="close" ng-click="toggle_close_order_panel()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </div>
    <div class="panel-body">
        <div class="order-info">
            <ul class="list">
                <label class="item item-input">
                    <span class="input-label">价格</span>
                    <span class="input-content" ng-class="{ 'rise' : trade_qoute.Fluctuation, 'fall' : !trade_qoute.Fluctuation }">
                        {{ modal_hold_order.Category == "Bid" ? trade_qoute.Ask : trade_qoute.Bid }}
                    </span>
                </label>
                <label class="item item-input">
                    <span class="input-label">持仓</span>
                    <span class="input-content">{{ modal_hold_order.Id }} / {{ modal_hold_order.Symbol }}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">手数</span>
                    <span class="input-content">{{ modal_hold_order.Quantity }}</span>
                </label>
            </ul>
        </div>
        <div class="button-bar">
            <button class="button-close" ng-click="close_order()">
                平仓
            </button>
        </div> 
    </div>
</div>
