<ion-view class="agreement" view-title="客户协议书" hide-nav-bar="{{ !show_nav_bar }}">
    <ion-nav-buttons side="left">
        <a href="#/signup" class="back-button">
            <i class="icon ion-ios-arrow-left"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <pre>
一、注意事项
尊敬的客户，请在签署本客户协议书等法律文件前，认真、仔细阅读整份协议及相关附件。如已全部阅读、接受并同意签署有关协议及附件，经客户确认后，即对协议各方产生法律约束力，该电子协议的法律效力与客户亲笔签署的纸质协议相同。
 
二、免责声明
移动互联会员在此特别提示，而且客户在此特别声明，客户已经完全知悉、理解、接受及同意以下涉及移动互联会员可能免除责任的相关情况：
1、作为参与交易业务的一方，移动互联会员不会授权任何个人或单位为客户代客理财或从事类似代客理财的行为，或者向客户作出获利或不遭受损失的担保或承诺。任何个人或单位以移动互联会员或移动互联会员授权的名义从事上述行为，均属违反移动互联会员和交易中心规定的行为，不具有法律约束力，客户据此进行交易产生的亏损由客户自己承担。
2、如果根据客户要求，移动互联会员及其工作人员向其提供投资研究分析成果、投资信息或操作建议，该等资料或建议仅供客户在投资决策时参考，客户据此进行投资操作时所产生的盈亏由客户自行承担。
3、由于市场情况或其他的特殊原因，移动互联会员可能无法在客户指定的价位买卖，此情形下，移动互联会员在通知客户后，若客户未发出新的交易指令明确交易价位的，移动互联会员将暂停交易，并可即时免除延迟交易责任。
4、由于移动互联会员并不能控制电讯信号的中断和连接以及互联网的畅通，也不能保证客户自身网络设备及电讯设备的稳定性，由此等原因而使客户遭受的损失，由客户自行承担，移动互联会员不负有任何责任。
5、由于地震、水灾、火灾、暴动、罢工、战争、政府管制、国际或国内的禁止、限制或保障性措施以及停电、技术故障、电子故障等不可抗力因素导致的交易中断、延误等风险，移动互联会员不承担责任，但应在条件允许的范围内采取必要的补救措施以减少因不可抗力造成的损失。
6、由于发生不可抗力及国家有关法律、法规、规章、政策的改变、紧急措施的出台等导致交易系统临时或永久性关闭及其他风险，移动互联会员不承担责任。
7、根据交易中心规则制度应由客户自行承担损失的，移动互联会员不承担责任。
本人已认真阅读免责声明所有内容，移动互联会员已向本人对有关免责声明的含义及有关法律后果进行明确阐明，本人完全理解和同意免责声明的全部内容。
 
三、客户协议
本协议书由以下双方签订：
1、移动互联会员，授予移动互联会员资格，同意在中宝微盘TM平台上开展现货电子交易业务（以下简称为“微交易业务”）的企业法人或者其他经济组织。本协议项下的移动互联会员，特指经客户选定并向其办理开户手续的移动互联会员，该移动互联会员为客户办理开户手续后，即成为本协议的一方并受本协议的约束。移动互联会员信息以其在交易中心备案的数据为准。
2、客户向移动互联会员申请开户和向交易中心申请入市交易，同意与移动互联会员开展微交易业务的投资者。在签署本协议书前，客户已如实、准确填写客户身份信息。
根据中华人民共和国有关的法律、法规及交易中心的相关交易规则、业务规定及管理制度（以下统称为“规则制度”），移动互联会员、客户双方就在中宝微盘TM平台上开展微交易业务的相关事项达成一致，并自愿签订本协议书。
一、业务关系
1、本协议所称的中宝微盘TM平台是指交易中心推出的兼备实践性和创新性的商品金融投资者教育平台，目的在于通过在线培训和低风险真实环境的演练，让金融行业投资者了解自身的经济承受能力、风险控制和承受能力、行业交易品种与交易规则，交易基础知识和技巧。
移动互联会员及客户在中宝微盘TM平台上开展的微交易业务，属于实盘交易，会产生真实交易的法律后果。移动互联会员及客户一旦参与交易，即视为其接受并认可交易所产生的风险及法律后果。
2、移动互联会员和客户自愿根据本协议书及交易中心的规则制度，在双方之间开展微交易业务。双方自行对微交易业务承担法律后果，自享收益，自担风险和亏损。
3、移动互联会员和客户同意共同委托交易中心为移动互联会员和客户之间的微交易业务提供相关服务和进行监督管理。交易中心的服务内容、相关职责和权限，除本协议书约定以外，由移动互联会员及客户另行分别与交易中心签订《入市交易协议书》约定。
交易中心根据相关规则制度和入市交易相关协议，为移动互联会员及客户双方提供交易市场服务，既不参与移动互联会员与客户之间的微交易业务，亦不承担移动互联会员与客户之间因开展微交易业务而产生的任何亏损风险和法律责任。
4、移动互联会员、客户双方均理解、同意和接受：
（1）以本协议、相关法律法规及交易中心的规则制度作为移动互联会员和客户之间微交易业务的相关依据、准则和行为规范。交易中心的规则制度作为本协议书附件，为本协议书不可分割的必要组成部分。具体规则制度清单和内容以移动互联会员和客户各自与交易中心签署的《入市交易协议书》相关约定的为准。
（2）本协议书签订后，交易中心制定、修订或颁布的规则制度自动适用于本协议，无需协议各方另行确认；本协议书签订后交易中心制定、修订或颁布的规则制度与本协议书或现行规则制度不一致的，以最新生效的规则制度为准。
二、开户和入市
1、移动互联会员声明，其已在交易中心开设会员交易账户作为其参与微交易业务的唯一交易账户。
2、客户向移动互联会员申请开设交易账户并提交相关申请资料，经移动互联会员审核合格，移动互联会员同意为客户开设交易账户。
3、客户完成交易账户开设手续，并与交易中心签署《入市交易协议书》后，取得中宝微盘TM平台的入市交易资格。客户取得中宝微盘TM平台的入市交易资格后，方可入市交易中宝微盘TM平台所允许的交易品种。
4、客户确认，客户开户和入市交易申请均系其真实意思表示，有关申请和协议文件均为其本人签署或提交。客户保证其开户及入市申请所提供相关资料的合法性、合规性、真实性及有效性。如客户提供的相关资料虚假，须承担因此而引起的一切责任。
三、交易账户使用及管理
1、移动互联会员为客户开设的交易账户实行一户一码制（即一个客户只对应一个交易账户）。客户可使用该交易账户交易其选择的交易中心允许的全部交易品种。
2、客户可自行通过中宝微盘TM交易系统与移动互联会员进行交易。所有客户通过中宝微盘TM交易系统发出的交易指令，一经发出，均不得撤回或撤销。
3、移动互联会员仅通过客户交易账户的账号和密码核实客户的身份。凡通过客户的交易账户的账号和密码进行的交易操作，无论是否确属本人进行的交易，均视为是客户本人操作。
4、客户必须对交易账户和所有密码进行妥善保管。客户密码丢失的，可根据交易中心相关规则制度申请密码重置。所有因客户密码遗失及被盗导致的损失，或因保管不善及其他不可归责于移动互联会员、交易中心而造成的一切后果，均与移动互联会员及交易中心无关，由客户自行承担。
5、移动互联会员的电话录音、电脑记录等在交易过程中形成的记录均具有法律效力，客户认可该记录的证明力。所有客户通过网上交易系统发出的交易指令，以交易中心系统记录的数据为准。
6、当客户开户和入市交易申请资料发生变化时，客户应及时以有效方式通知移动互联会员；否则，因客户未及时通知移动互联会员而造成的损失，应由客户承担。
7、客户的交易账户只限本人使用，不得转借他人（或其他机构），如交易账户转借所引起的一切纠纷和损失均由客户自行解决和承担。
8、客户不得以任何方式委托移动互联会员及其工作人员以直接或间接操作交易账户、代替客户下达交易指令等方式管理其交易账户，否则客户应自行承担后果。
9、客户经向移动互联会员申请，可注销其交易账户。
10、客户开通交易账户后，连续12个月或以上未进行任何微交易业务且无持仓的，视为客户不再进行微交易业务，移动互联会员有权单方注销其交易账户，并解除本协议。
四、  交易标的
中宝微盘TM平台上推出的全部交易品种，客户均可自行选择并按规定与移动互联会员进行交易。如移动互联会员或客户被交易中心终止入市交易资格，则不再允许继续在中宝微盘TM平台上开展微交易业务。
五、  报价与下单
1、交易中心根据相关报价规则，连续报出相应交易品种的买入及/或卖出价格。移动互联会员同意无条件认可并执行交易中心的报价，并以该报价作为其向客户报出的买入及/或卖出价格。移动互联会员的报价视为要约，但本协议另有约定或相关规则制度另有规定的除外。
2、为保证交易价格有效性，移动互联会员每次报价的有效期限为300秒。移动互联会员每次报价后的300秒内，如有最新报价的，则移动互联会员的报价自动更新为最新报价，且允许以最新报出的买入及/或卖出价成交；移动互联会员每次报价后的300秒内，如无最新报价的，允许以移动互联会员的该次报价进行成交，但移动互联会员的该次报价在超过300秒后自行失效，交易各方不能继续以该报价进行成交，直至出现最新报价为止。
3、客户按照相关规则制度的要求，根据移动互联会员的报价，向移动互联会员提交买入或卖出的交易指令（下单），即视为对移动互联会员要约的承诺，移动互联会员与客户双方之间的交易合同即告成立，但本协议另有约定或相关规则制度另有规定的除外。
4、在移动互联会员被交易中心暂停入市交易资格的情况下，客户提交的交易指令将根据交易中心规则制度进行处理，移动互联会员及客户双方均对此无异议。
5、关于转让持仓的特别约定：
客户及移动互联会员均理解、接受和同意：客户必须在交易当日的结算休市前，自行将其持仓予以转让。否则，视为客户委托移动互联会员按结算休市前最后一次的报价代为将其持仓予以转让。移动互联会员根据客户上述委托代为转让持仓的，转让持仓的一切法律后果应由客户承担。
六、结算清算和交易准备金管理
1、移动互联会员及客户双方同意委托交易中心对各自缴存的交易准备金进行管理，并对双方在中宝微盘TM平台上的全部交易业务提供结算与清算服务。各方之间有关结算和清算的责、权、利，按照《入市交易协议书》及交易中心届时有效的结算与清算的相关规定执行。
2、微交易业务实行按日结算和清算。客户对当日的交易结算结果有异议时，须在24 小时内向移动互联会员或交易中心书面提出。如果客户未在规定期限内提出书面异议，视为客户对交易结算结果已经认可。任何一方对结算和清算结果有异议并要求重新核算时，应当以交易中心系统留存的原始数据为准。
3、移动互联会员及客户双方开展微交易业务，须向交易中心指定的专用准备金账户预存交易准备金，以确保交易价款的按时、足额支付。移动互联会员及客户双方对缴存的交易准备金不享有任何利息。
4、移动互联会员及客户双方应在交易中心指定的清算银行开设资金清算账户并签署资金存管协议，以实现交易准备金与其资金清算账户之间的资金划转。
5、客户交易账户注销的，如客户预存的交易准备金仍有余额，客户应当在交易中心指定的期限内办理出金手续；逾期未出金的，交易中心可强制出金至客户开设的资金清算账户。
七、风险管理
1、根据交易中心授权，各交易品种实行集中、合并的风险管理制度。其中，“集中”是指各交易品种的相关风险管理制度由交易中心统一制定，并授权交易中心集中采取风险管理措施；“合并”是指移动互联会员或客户的交易账户持仓风险以其交易准备金账户净值、该交易账户内参与交易的全部交易品种及其履约准备金等合并计算。
2、移动互联会员及客户双方同意委托交易中心对各自交易账户进行风险管理，同意遵守交易中心制定的相关风险管理制度，接受和服从交易中心采取的风险管理措施。
3、客户理解、接受和同意：在客户违规，或者由于国家法律、法规、政策的变化、交易中心规则制度的修改、遇到紧急情况并且交易中心认为必要的情况下，移动互联会员有权对客户采取限制或干预交易的风控措施。移动互联会员采取的限制或干预交易的风控措施，应当符合交易中心的规则制度和相关要求。
八、交易费用
1、客户应向移动互联会员支付交易的手续费，手续费的具体支付标准按交易中心的规则制度执行。
2、客户参与微交易业务涉及的其他相关费用，包括但不限于滞纳金、提货费、交货费等，按交易中心的规则制度执行。
九、  保证
1、移动互联会员保证：移动互联会员或其工作人员均不得在本协议书约定方式以外，与客户私下达成交易，或者以利益共享、风险共担为承诺，利用客户资金从事代客理财业务，不得对客户进行类似收益保证的承诺，或者以其他违规方式谋取不正当利益。
2、客户保证：客户不得在本协议书约定方式以外，与移动互联会员或其工作人员私下达成交易，或者接受以利益共享、风险共担为承诺，委托移动互联会员或其工作人员从事代客理财业务。
3、客户必须确保其本人有满足维系交易系统顺利运行的软件和硬件系统。
4、移动互联会员不得接受客户的任何质押或抵押行为。客户不得将本协议书中的任何权益全部或部分转让。
十、  保密
未经协议对方事先书面同意，任何一方不得将本协议书的签订、履行情况及在交易过程中所知悉的协议对方所拥有的机密信息向交易中心以外的任何第三方作任何形式的披露、通知和公布，但交易中心规则制度另有规定的除外。
十一、违约责任
任何一方违反本协议约定的义务均视为违约，应依法承担违约责任，并赔偿守约方因此而遭受的经济损失和支出的一切费用，包括但不限于直接损失及实现债权的费用、律师费用等。
十二、协议生效、变更和终止
1、本协议书经客户以电子化签约方式确认或签署后生效。非依本协议书约定方式、相关规则制度规定方式或法律规定方式终止，长期保持有效。
2、本协议未尽事宜，以交易中心的规则制度为准。
3、依据本协议或相关规则制度注销客户交易账户的，本协议终止。各方按下述规定处理：
（1）因客户主动申请注销其交易账户导致本协议终止的，在协议终止前，客户必须转让全部持仓，且在终止协议当天无任何交易记录，并结清与交易中心和移动互联会员的所有费用和欠款、违约金等。相关规则制度另有规定的，按相关规定处理。
（2）因移动互联会员注销客户交易账户导致本协议书终止的，在协议书终止时，移动互联会员应当确认客户无持仓、在终止协议当天无任何交易记录，且客户已结清与交易中心和移动互联会员的所有费用和欠款、违约金等。相关规则制度另有规定的，按相关规定处理。
4、移动互联会员或客户被交易中心终止入市交易资格，不能满足客户所选择的交易品种正常交易的，本协议终止。各方按下述规定处理：
客户应自行转让持仓并注销其交易账户，否则移动互联会员可采取强制销户等措施处理。由此产生的一切责任及损益由客户自行承担。
5、因不可抗力，致使当事人一方或多方不能履行本协议时，各方应协商确定本协议继续履行的条件或终止本协议。除本协议另有规定外，若各方不能就继续履行的条件或本协议的终止达成一致意见的，本协议自行终止。
6、本协议书终止后，各方应当遵循诚实信用原则，履行通知、协助、保密等附随义务。
十三、   争议解决
如移动互联会员、客户双方发生与本协议书相关的一切争议，应以友好协商的原则商议解决。经协商不能达成一致意见的，可向交易中心或第三方争议调解机构申请调解；调解不成的，任何一方应提交广州仲裁委员会，按照申请仲裁时其现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。
十四、   通知与送达
1、按本协议约定由任何一方发给其他方的任何通知、书面通讯以及仲裁机构发给任何一方的仲裁文书，应以挂号邮寄、图文传真、专递或者其他通讯形式发出，相关的通知及仲裁文书均送至各方已在交易中心备案的地址。
2、如采用挂号邮寄方式，上述文件或通知在投邮后第4日，即视为送达和收到之日；如采用图文传真方式，发送或成功回执所示之日，即视为送达和收到之日；如采用专递方式，专递人员将上述文件或通知送达收件人地址之日，即视为送达和收到之日。
如果联系方式之任何一项发生变更，相关方应在变更后5日内将更改后的联系方式通知对方，此后相关通知及仲裁文书应按变更后的联系方式送达。否则，将按原地址邮寄送达，相关通知和法律文书均视为送达。
十五、   其他
1、本协议书由交易中心通过电子化方式签约和存档。移动互联会员、客户均认可该电子化签约和存档文件的法律效力，如各方对协议签署及其版本内容产生争议的，以交易中心系统数据库存档数据为准。
2、如各方对本协议各项条款存在理解上的争议或纠纷，可提交交易中心解释，并以交易中心解释为准。
3、客户申请开户时填写的相关资料、免责声明、交易中心规则制度、开户申请与承诺等均为本协议书的重要组成部分，与本协议书具有同等法律效力。
4、本协议仅适用于在中宝微盘TM平台上开展的微交易业务的移动互联会员及客户。
四、开户申请与承诺
我方自愿进入中宝微盘TM平台上从事微交易业务，并依照公开、公平、公正、诚实的原则，自愿向移动互联会员申请开设交易账户并作出如下承诺：
1、本次开户申请是我方真实意思表示，所提交材料及申请内容不存在虚假记载、误导性陈述或重大遗漏，我方对其合法性、合规性、真实性和有效性承担法律责任；
2、我方系具备完全民事行为能力的自然人/合法有效存续的机构；
3、在开展交易前，我方保证充分了解并接受交易中心的规则制度，并认真考虑了行业、市场、政策以及其他不可预计的各项风险因素，愿意承担可能存在的一切交易/投资/市场/资金等风险；
4、我方已经同意并签署《客户协议书》及其附件；
5、我方已按照有关规定提交相关申请资料；
6、我方保证符合交易中心规定的开户条件，且非交易中心市场禁入者；
7、我方保证将按照有关规定亲自办理交易准备金存管业务；
8、我方已掌握交易软件各项功能并能熟练操作；
9、我方申请立即开设交易账户；
10、我方保证，所有通过密码进行的交易均为本人操作，我方不委托任何机构和个人以操作交易账户或代替我方下达交易指令等方式代为理财，否则，愿意承担由此造成的一切损失及后果。
11、我方已充分了解并同意：所有针对微交易业务的获利保证或不发生亏损的承诺均为虚假承诺，并且任何关于交易市场行情走向的分析或肯定性结论均不构成任何的承诺或决策依据，如因轻信该等虚假承诺、行情分析或肯定性结论或其它而造成的损失及后果将由我方自行承担。
我方保证遵守以上承诺，如违反上述承诺或有违规行为，给移动互联会员或交易中心等相关各方造成损失的，我方愿意承担法律责任及相应的经济赔偿责任。
我方确认并同意《客户协议书》中约定的争议解决条款，即：“如移动互联会员、客户双方发生与本协议书相关的一切争议，应以友好协商的原则商议解决。经协商不能达成一致意见的，可向交易中心或第三方争议调解机构申请调解；调解不成的，任何一方应提交广州仲裁委员会，按照申请仲裁时其现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。”
兹确认，开户相关资料和信息为本人自愿填写，本人的上述资料和信息合法、合规和真实有效。
        </pre>
    </ion-content>
</ion-view>
