<ion-modal-view class="order-modal">
    <ion-header-bar class="order-modal-header">
        <h1 class="title">持仓明细</h1>
        <div class="close" ng-click="hold_order_modal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </div>
    </ion-header-bar>
    <ion-content class="order-modal-content">
        <ul class="list">
            <li class="item item-input">
                <span class="input-label">单号</span>
                <span class="input-content">{{ modal_hold_order.Id }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">商品</span>
                <span class="input-content">{{ modal_hold_order.Symbol }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">类型</span>
                <span class="input-content">{{ modal_hold_order.Category == "Bid" ? "买入" : "卖出" }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">数量</span>
                <span class="input-content">{{ modal_hold_order.Quantity }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">建仓价</span>
                <span class="input-content">{{ modal_hold_order.HoldPrice }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">止损价</span>
                <span class="input-content">{{ modal_hold_order.StopPrice }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">止盈价</span>
                <span class="input-content">{{ modal_hold_order.ProfitPrice }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">盈亏</span>
                <span class="input-content" 
                    ng-class="{ 'rise' : modal_hold_order.Profit >= 0, 'fall' : modal_hold_order.Profit < 0 }">
                    {{ modal_hold_order.Profit }}
                </span>
            </li>
            <li class="item item-input">
                <span class="input-label">保证金</span>
                <span class="input-content">{{ modal_hold_order.OccupiedMoney }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">手续费</span>
                <span class="input-content">{{ modal_hold_order.Commission }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">利息</span>
                <span class="input-content">{{ modal_hold_order.Interest }}</span>
            </li>
            <li class="item item-input">
                <span class="input-label">建仓时间</span>
                <span class="input-content">{{ modal_hold_order.Time }}</span>
            </li>
        </ul>
    </ion-content>
    <div class="button-bar">
        <a class="button button-balanced" ng-click="toggle_close_order_panel()">平仓</a>
        <a class="button button-dark" ng-click="toggle_order_update(modal_hold_order)">修改</a>
        <a class="button button-dark" ng-click="hold_order_modal.hide()">关闭</a>
    </div>
</ion-modal-view>
