<div class="side-menu side-menu-right">
    <ul>
        <li class="side-brand">
            <h4>
                数据筛选
            </h4>
        </li>
        <li>
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label">商品</span>
                    <select>
                        <option>美元/日元</option>
                        <option>美元/日元</option>
                        <option>美元/日元</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">类型</span>
                    <select>
                        <option>买入</option>
                        <option>卖出</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">开始</span>
                    <input type="date">
                </label>
                <label class="item item-input">
                    <span class="input-label">结束</span>
                    <input type="date">
                </label>
            </div>
        </li>
    </ul>
    <div class="button-bar">
        <a class="button button-dark" ng-click="toggleRightSideMenu()">取消</a>
        <a class="button button-balanced">确定</a>
    </div>
</div>
