<ion-view hide-nav-bar="true" class="signin-view">
<div class="signin">
    <div class="signin-header">
        <div class="system-logo" ng-show="show_system_logo">
            <img ng-src="{{ system_logo }}" alt="{{ system_name }}" />
        </div>
        <div class="system-name" ng-show="show_system_name">
            {{ system_name }}
        </div>
    </div>
    <div class="signin-content">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">
                    <i class="ion-ios-person-outline"></i>
                </span>
                <input type="text" placeholder="用户" ng-model="username" required />
            </label>
            <label class="item item-input">
                <span class="input-label">
                    <i class="ion-ios-locked-outline"></i>
                </span>
                <input type="password" placeholder="密码" ng-model="passwd" required />
            </label>
            <label class="signin-tools item item-select" ng-show="remote_list.length > 1">
                <select ng-model="remote" ng-options="r.text for r in remote_list" ng-change="change_remote();">
                </select>
            </label>
        </div>
        <div class="signin-action">
            <button class="button button-block signin-button" ng-click="signin()" 
                ng-disabled="!username || !passwd">
                立即登陆
            </button>
        </div>
    </div>
    <div class="signin-footer">
        <a href="#/signup">注册用户</a>
    </div>

</div>
<div class="spinner-view hide">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="message" ng-class="{ 'fadein' : message }">{{ message }}</div>
</div>
</ion-view>
