<ion-view view-title="行情" hide-nav-bar="{{ !show_nav_bar }}">
    <ion-content class="content-background" scroll="false">
        <div class="qoute-category">
            <ul>
                <li ng-repeat="c in category_list" ng-click="change_category($index)" 
                ng-class="{ 'active' : category_index === $index }"> 
                    {{ c }}
                </li>
            </ul>
        </div>
        <ion-slide-box delegate-handle="slide-qoute" on-slide-changed="slide_change($index)" 
        show-pager="false" class="slide-qoute">
            <ion-slide ng-repeat="c in category_list">
                <div class="qoute-view">
                    <div class="qoute-view-header">
                        <ul>
                            <li>名称</li>
                            <li>最新</li>
                            <li>涨跌</li>
                            <li>涨跌幅</li>
                        </ul>
                    </div>
                    <div class="qoute-view-content">
                        <ion-scroll>
                            <ul ng-repeat="q in qoute_list | filter: { Category: c }">
                                <li>
                                    <a href="#/trade/{{ q.Id }}">{{ q.Id }}</a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.Fluctuation, 'fall' : !q.Fluctuation }" href="#/trade/{{ q.Id }}">
                                        {{ q.Ask.toFixed(q.DecimalCount) }}
                                    </a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.Fluctuation, 'fall' : !q.Fluctuation }" href="#/trade/{{ q.Id }}">
                                        {{ q.ChangeValue }}
                                    </a>
                                </li>
                                <li>
                                    <a ng-class="{ 'rise' : q.Fluctuation, 'fall' : !q.Fluctuation }" href="#/trade/{{ q.Id }}">
                                        {{ q.ChangePercent }}
                                    </a>
                                </li>
                            </ul>
                        </ion-scroll>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
