<ion-tabs class="tabs-icon-top navbar">

  <ion-tab title="行情" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse" href="#/tab/qoute">
    <ion-nav-view name="tab-qoute"></ion-nav-view>
  </ion-tab>

  <ion-tab title="交易历史" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos-outline" href="#/tab/history/0">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" ng-click="toggleLeftSideMenu()">
  </ion-tab>

</ion-tabs>
